* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-content{
    display: flex;
    height: 6rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #F5F7FA;
}

#navbar-section {
    width: 90%;
    margin: auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nexcent-logo{
    display: flex;
    align-items: center;
}
.icon-logo{
    font-family: "inter", sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: normal;
    color: rgb(38, 50, 56);
}
.nav-links {
    display: flex;
    gap: 3rem;
}

.nav-links a {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 530;
    line-height: normal;
    color: rgb(24, 25, 31);
}

.nav-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#login{
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #4CAF4F;
}

.buttn{
    cursor: pointer;
    background: rgba(76, 175, 79, 1);
    padding: 14px 32px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
    border: none;
}
.buttn1{
    cursor: pointer;
    background: rgba(76, 175, 79, 1);
    padding: 14px 32px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
    margin-top: 30px;
    border: none;
}

.main-class{
    background-color: #F5F7FA;
    display: flex;
    height: 90vh;
}

.content-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 55%;
}
.main-class h1{
    font-family: Inter, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: normal;
    color: rgb(0, 0, 0);
}
.content-info .h2{
    color: #4CAF4F;
}

p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: rgba(113, 113, 113, 1);
    font-weight: 400;
}

.text{
        font-size: 36px;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        color: rgba(77, 77, 77, 1);
}

.container{
    width: 90%;
    margin: auto;
    padding-right: 100px 0;
}

.content{
    /* height: 90vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 20rem;
}
.logos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 2rem; */
}
.community{
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.company-goal{
    background-color: #F5F7FA;
}

.company-goal-info{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.organizations{
    height: 30rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.organs-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.organs-content img{
    width: 18%;
}

.pixelgrade{
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixel{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.helping-business{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.helping-business h2{
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    color: #4CAF4F;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.first-details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.icons{
    display: flex;
    gap: 1rem;
}

/* .about-tim{
    display: flex;
    align-items: center;
    gap: 5rem;
} */

.caring-marketing{
    height: 120vh;
}

.new-marketing{
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.image-class{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.create1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sub-create{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 17px 15px;
    gap: 1rem;
    margin: -3rem 2rem;
    text-align: center;
    border-radius: 20px;
    height: 12rem;
    background-color: #F5F7FA;
}
.sub-create p{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: rgba(77, 77, 77, 1);
}

.sub-create a{
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #4CAF4F;
}

.demo{
    background-color: #F5F7FA;
}

.pellentesque{
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    
}

.pellentesque p{
        font-size: 64px;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        color: rgba(77, 77, 77, 1);
}

.footer-content{
    background-color: #263238;
}

.foot-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.footer-menu1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 50px;
}

.footer-menu2{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.foot-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text2{
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    color: white;
}

.text3{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: white;
}