* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* for navigaton bar */

header{
    width: 100%;
    border: 1px solid black;
    top: 0;
    left: 0;
    z-index: 1000;
    /* background-color: #F5F7FA; */
    /* background-color: red; */
}

#navbar-section {
    width: 90%;
    margin: auto ;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 3rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#login{
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.buttn{
    padding: .8rem 1.5rem;
    border: none;
    color: #333;
    cursor: pointer;
    border-radius: 6px;
}
.main-class{
    /* background-color: #F5F7FA; */
    background-color: red;
}

#herosection {
    width: 100%;
    height: 100vh;
}

.container{
    width: 90%;
    margin: auto;
    padding-right: 100px 0;
}

.content{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: green;

}

.about-section{

}

.clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 20rem;
    border: 1px solid;
}
.logos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 2rem; */
}
.community{
    display: flex;
    flex-direction: column;
    height: 20rem;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.company-goal{
    background-color: #F5F7FA;
}


.company-goal-info{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 35rem; */
    width: 90%;
    /* margin: 0px auto;
    border: 2px solid; */
    /* background-color: green; */
}
.organizations{
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid;
}

.pixelgrade{
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helping-business{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background-color: blue; */
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    /* background-color: red; */
}
.first-details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.icons{
    display: flex;
    gap: 1rem;
}
.design-footer{
    /* background-color: pink; */
}
.design-footer-info{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.how-to-design{
    /* width: 100%; */
    /* display: flex; */    
    flex-direction: column;
    gap: 2rem;
}
.company-profile{
    /* height: 70vh; */
    /* background-color: rgb(53, 241, 194); */
}

.about-tim{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5rem;
}

.caring-marketing{
    /* background-color: greenyellow; */
    height: 120vh;
}

.new-marketing{
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.image-class{
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.create1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sub-create{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    padding: 17px 0;
    gap: 1rem;
    margin: -3rem 2rem;
    text-align: center;
}
.demo{
    /* background-color: rgb(213, 223, 76); */
}

.pellentesque{
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.footer-content{
    /* height: 80vh; */
    /* background-color: rgb(68, 66, 67); */
}

.foot-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    /* justify-content: center; */
}

.footer-menu1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 50px;
}

.footer-menu2{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}